/**********************************/
/* Contêiner principal do Pokemon */
/**********************************/
.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 35rem;
    position: relative;
    margin: 5rem auto auto;
}


/* Parte superior com informações e imagem */
.top-details{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 3rem 3rem 0 0;
    color: #ffffff;
    padding: 4rem 2rem 6rem 2rem;
    width: 100%;
}

.top-details h1{
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.top-details-characteristics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
    gap: 1rem 0;
}

/* Listas não ordenadas */
.abilities, .characteristics{
    display: flex;
    gap:0.5em;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.characteristics{
    flex-direction: column;
    align-items: flex-start;
}

.characteristics li{
    display: flex;
    width: 100%;
}

.abilities li{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
}

.abilities li:nth-child(1){
    background-color: #77c850;
    filter: brightness(1.1);
}

.abilities li:nth-child(2){
    background-color: #b046b0;
    filter: brightness(1.1);
}

.top-details-img{
    padding-top: 1.5rem;
    position: relative;
    z-index: 1;
}

.top-details-number{
    padding: 2rem 0 0;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}

/* Parte inferior do Pokemon */
.bottom-details{
    background-color: #e2e2e2;
    font-size: 1.3rem;
    padding: 2rem 2rem 20rem;
    border-radius: 3rem;
    width: 100%;
    position: absolute;
    bottom: -28.4rem;
}

.bottom-details h4{
    border-bottom: 0.3rem solid purple;
    padding: 0 1rem 1rem;
    width: fit-content;
    margin-top: 0.7rem;
}

.title-characteristics{
    display: flex;
    width: 10rem;
    color: green;
}

.value-characteristics{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/* Estilos comuns a top-details e bottom-details */
.top-details, .bottom-details {
    /* width: 100%; */
}

@media screen and (max-width: 565px) {
    .top-details{
        flex-direction: column;
        gap: 0;
        padding-top: 0;
    }

    .top-details-characteristics{
        align-items: flex-start;
    }

    .top-details-number{
        order: -1;
    }

    .detail-container{
        width: auto;
        margin: 1rem 1rem auto;
    }

    .bottom-details{
        padding: 2rem 2rem 6rem;
        bottom: -14.1rem;
    }
}