body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/**********************************/
/* Contêiner principal do Pokemon */
/**********************************/
.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 98vw;
    height: 71vh;
    position: relative;
    margin: auto;
}

/* Contêiner superior com informações e imagem do Pokemon*/
.top-details{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 1.5rem 1.5rem 0 0;
    color: #ffffff;
    padding: 2.5rem 0 6rem 0.8rem;
    width: 100%;
}

.top-details h1{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.1rem;
    text-align: left;
    text-transform: capitalize;
}

.top-details-characteristics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7rem 0;
}

/* Listas não ordenadas */
.abilities, .characteristics{
    display: flex;
    gap:0.5em;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.characteristics li{
    display: flex;
    width: 100%;
}

.abilities li{
    padding: 0.25rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 0.7rem;
}

.abilities li:nth-child(1){
    background-color: #77c850;
    filter: brightness(1.1);
}

.abilities li:nth-child(2){
    background-color: #b046b0;
    filter: brightness(1.1);
}

.top-details-img{
    padding-top: 0.5rem;
    position: relative;
    z-index: 1;
}
.top-details-img img{
    height: 8rem;
}

.top-details-number{
    padding: 1.5rem 0.5rem 0 0;
    font-size: 0.85rem;
    font-weight: bold;
    text-align: right;
    width: 100%;
}

/* Contêiner inferior com mais informações do Pokemon */
.bottom-details{
    background-color: #e2e2e2;
    font-size: 0.8rem;
    padding: 2rem 2rem 0;
    height: 52.3vh;
    border-radius: 1.5rem;
    width: 100%;
    position: absolute;
    top: 10.5rem;
}

.bottom-details h4{
    border-bottom: 0.2rem solid purple;
    padding: 0 1rem 1rem;
    width: fit-content;
    margin-top: 0.7rem;
}

.characteristics{
    flex-direction: column;
    align-items: flex-start;
}

.title-characteristics{
    display: flex;
    width: 10rem;
    color: green;
}

.value-characteristics{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

@media screen and (min-width:450px){
    .detail-container {
        width: 405px;
    }
}